*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #F4F4F4;
    font-family: 'Lora', serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;      
}

.titulos{
    font-family: 'Montserrat', sans-serif;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}