.header{
    background-color: #003B60;
    color: #F4F4F4;   
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin: 0 auto;
    gap: 20px;
    height: 60px;
}

.header-logo{
    color: #F4F4F4;
    font-family: 'Yellowtail', cursive;
    font-size: 3rem;
}

.header-lista{
    display: flex;    
    gap: 40px;
}

.header-lista a{
    display: inline-block;
    color: #F4F4F4;
    padding: 20px 0px;
    position: relative;
    font-size: 1.2rem;
}

.header-lista a:after{
    content: "";
     display: block;  
    height: 2px;
    width: 0px;
    background: #F4F4F4;
    margin-top: 4px;    
    transition: 0.4s;    
    position: absolute;
}

.header-lista a:hover:after{
    width: 100%;
}