.tecnologia{   
    background: linear-gradient(#f2a50c,#ffbf00);          
}

.tecnologia-principal{
    display: grid; 
    grid-template-columns: 1fr 1fr;      
    margin: 0 auto;    
}

.tecnologia img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tecnologia-descricao{       
    padding: 60px 60px 100px 0px;
    margin-left: 5rem;
        
}

.tecnologia-descricao h3{    
    font-size: 1.3rem;
    margin-bottom: 15px;    
}

.tecnologia-descricao h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.tecnologia-descricao p{
    font-size: 1.125rem;
    margin-bottom: 15px;
}

.tecnologia-modelo h3{
    font-size: 1.5rem; 
    border-top: 2px solid #f2a50c;
    padding: 10px 0px;
    text-align: center;              
}

.tecnologia-modelo ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;    
}

.tecnologia-modelo li h4{
    font-weight: 700;
    margin: 0 auto;
    border: 2px solid #f2a50c;
    width: 220px;
    text-align: center;
    padding: 10px 0px;    
}

.tecnologia-modelo li p{
    margin-top: 15px;
    font-size: .8rem;
}

@media (max-width: 1200px){
    .tecnologia-principal{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px){
    .tecnologia-principal{
        grid-template-columns: 1fr;
    }
    .tecnologia-principal img{
        display: none;
    }

    .tecnologia-descricao h2{
        font-size: 1.8rem;
    }

}